#git管理対象外のパスを指定
target/
.env
*.DS_Store
.idea/
*.iml
*.class
.classpath
.project
.factorypath
.settings/
docs/tmp/
docs/java-getting-started/
docs/deploying-spring-boot-apps/
*.vscode
*.lock
.gradle/
build/
